.header__search-bar {
    width: 60%;
    height: 38px;
    position: relative;
}

.header__input  {
    width: 100%;
    height: 100%;
}
.header__input-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);

    display: flex;
    align-items: center;

    cursor: pointer;
}
