.header__filter {
    width: 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__filter-input {
    height: 100%;
}

.header__filter-label{
    font-size: 16px;
    font-weight: 600;
}