@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;800&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2d2d2d;
}

.page{
    min-height: calc(100vh - 200px);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}

.category-text {
    font-weight: 200;
}

.author-text {
    color: gray;
}