.about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;

    font-size: 16px;
}

.book-container {
    width: 100%;
    
}

.about__img-container {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__info-container {
    padding: 10px 20px;
}

.about__img {
    max-width: 60%;
    max-height: 70%;
}

.about__title {
    font-size: 2rem;
    font-weight: 800;
}

.about__author{
    margin-left: 1rem;
    margin-bottom: 10px;
}

.about__category {
    margin-left: 1rem;
    margin-bottom: 20px;
}

.about__description p  {
    text-indent: 1rem;
}
